@{
    ViewData["Title"] = "Mesclar Arquivos FASTA";
}

<link rel="stylesheet" type="text/css" href="~/css/movearquivo.css" /> <!-- Incluindo o CSS -->

<div class="container">
    <h2>Mesclar Arquivos FASTA</h2>

    <!-- Formulário para upload de arquivos -->
    <form id="mergeForm" method="post" enctype="multipart/form-data" class="form-box">
        <div class="form-group">
            <label for="files">Selecione os arquivos para mesclar:</label>
            <input type="file" id="files" name="files" class="form-control" multiple required />
        </div>

        <div style="text-align: center;">
            <button type="submit" class="btn-submit">Mesclar Arquivos</button>
        </div>
    </form>

    @if (ViewBag.Mensagem != null)
    {
        <div class="alert alert-info">
            <p>@ViewBag.Mensagem</p>
        </div>
    }

    @if (ViewBag.FilePath != null)
    {
        <!-- Exibe o botão de download se o arquivo mesclado foi criado -->
        <div style="text-align: center;">
            <a href="@Url.Action("DownloadArquivo", "Fasta")" class="btn btn-success">Baixar Arquivo Mesclado</a>
        </div>
    }
</div>
