@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h2> Clique no botão para ser redirecionado para a página escolhida.</h2>

    <a asp-controller="Fasta" asp-action="MesclarArquivos" class="btn btn-primary">Ir para Mesclar Arquivos</a>
    <a asp-controller="Pastas" asp-action="JuntarArquivos" class="btn btn-primary">Juntar Arquivos</a>
</div>
